---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

NamespaceIndentation: None
AccessModifierOffset: -4
IndentCaseLabels: true
FixNamespaceComments: true

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Regroup

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
...
